* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 40px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    background: #ffffff;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    background-color: #f4f4f9;
    padding: 20px;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

form {
    position: relative;
    max-width: 800px;
    display: inline-block;
}

.form-row {
    margin-bottom: 15px;
    font-size: 0;
}

label {
    font-size: 1.2rem;
    display: block;
}

input[type=text],
input[type=password] {
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    min-width: 350px;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: 3px solid #3700B3;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.center {
    text-align: center;
}

button {
    background-color: #132f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #3e64b0;
}

#folderList {
    margin-top: 30px;
    text-align: left;
}

#protocol {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settings {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 5px;
    text-align: center;
    width: 50px;
    height: 70px;
    vertical-align: center;
}

.settings a {
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
}

.settings a:hover {
    font-size: 3.2rem;
}

body {
    position: relative;
}

.settings-popup {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    padding: 50px 20px 20px 20px;
    font-size: 1.3rem;
    display: none;
}

.settings-popup input {
    font-size: 1.3rem;
}

.settings-popup .settings-close {
    display: block;
    position: fixed;
    top: 0px;
    right: 5px;
    text-align: center;
    width: 50px;
    height: 70px;
    vertical-align: center;
}

.settings-popup .settings-close a {
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
}

.settings-popup a {
    font-size: 1rem;
}

.settings-popup .settings-close a:hover {
    font-size: 3.2rem;
}

.settings-popup #server-search-protocol {
    font-size: 0.8rem;
}

.open {
    display: block;
}

.data-center {
    background: #ffffff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
    display: none;
}

.data-center .table-label {
    font-weight: bold;
}

.progressbar {
    width: 100%;
    position: relative;
    background: #ccc;
    padding: 2px;
    height: 20px;
    border: 2px solid #555;
    margin-top: 30px;
}

.progressbar .bar {
    height: 100%;
    background: #3e64b0;
    width: 0%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.warn {
    font-weight: bold;
    color: #640606;
}



